[mysqld]
server-id=2
user=root
port=3307

basedir=.
datadir=./data/mysqld.2
tmpdir=/tmp
slave_load_tmpdir=/tmp

pid-file=mysqld.2.pid
socket=mysqld.2.sock

log_error=mysql_error.log

rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
binlog_format=ROW
collation-server=latin1_bin
transaction-isolation=READ-COMMITTED

rocksdb_max_open_files=-1
rocksdb_max_background_jobs=8
rocksdb_max_total_wal_size=4G
rocksdb_block_size=16384
rocksdb_block_cache_size=32G
rocksdb_table_cache_numshardbits=6

# rate limiter
rocksdb_bytes_per_sync=4194304
rocksdb_wal_bytes_per_sync=4194304
rocksdb_rate_limiter_bytes_per_sec=104857600 #100MB/s. Increase if you're running on higher spec machines

# triggering compaction if there are many sequential deletes
rocksdb_compaction_sequential_deletes_count_sd=1
rocksdb_compaction_sequential_deletes=199999
rocksdb_compaction_sequential_deletes_window=200000

# read free replication
rocksdb-read-free-rpl-tables='.*'
# Enable RocksDB 2PL until RO snapshot fixes
rpl_skip_tx_api=OFF

loose-rocksdb_default_cf_options = write_buffer_size=128m;target_file_size_base=32m;max_bytes_for_level_base=512m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=4;bottommost_compression=kZSTD;compression_opts=-14:6:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=0};prefix_extractor=capped:12;level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;memtable_prefix_bloom_size_ratio=0.039;max_compaction_bytes=402653184;report_bg_io_stats=true;compaction_pri=kMinOverlappingRatio;soft_pending_compaction_bytes_limit=20480000000

max_relay_log_size=1M
relay_log=/relay/relay

secure-file-priv=""

max_binlog_size=1G
binlog_cache_size=262144
max_binlog_cache_size=666G

log-bin=binlog
sync_binlog=0
binlog_format=row
log_slave_updates
sync_master_info=0
rocksdb_flush_log_at_trx_commit=0

[client]
user=root
port=3307
socket=data/mysqld.2/mysqld.2.sock
